    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }

    body {
        background: #f5f5f5;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
       
    }

    .container {       
        background: white;
        display: flex;
    }

    .right {
        
        padding: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .icon1 {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 30px;
    }    
    .right h2 {
        font-size: 24px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .h3 {
        font-size: 14px;
        margin-bottom: 30px;
        color: gray;
    }
    input {
        height: 60px;
        border-color: #85848473;
    }
    
.fullname {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        padding: 12px;       
        font-size: 20px;
}
.email {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        padding: 12px;
        font-size: 20px;
}
.password {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        padding: 12px;
        font-size: 20px;
}
   
.btn-primary {
        background: #4c46ff;
        color: white;
        padding: 12px;
        margin-top: 15px;
        width: 100%;
        border: none;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
    }

    .google-btn {
        margin-top: 15px;
        width: 100%;
        padding: 12px;
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #fff;
    }

    .login-link {
        text-align: center;
        margin-top: 20px;
        font-size: 14px;
    }

    .login-link a {
        color: #4c46ff;
        text-decoration: none;
    }
